@model List<PhotoShare.Models.Photo>

@{
    // code block

    ViewData["Title"] = "Home Page";
}

<h1>All Photos</h1>

@foreach (var item in Model)
{
    <p>
        @item.PhotoId<br />
        @item.Description<br />
        @item.CreatedAt<br />
        @item.ImageFilename<br />

        <a asp-controller="Home" asp-action="PhotoDetails" asp-route-id="@item.PhotoId">Display photo</a>
    </p>
}