@model PhotoShare.Models.Photo
@{
    ViewData["Title"] = "Get Photo";
    string imageUrl = Url.Content("/photos/" + @Model.ImageFilename);
 

	@if (Model.ApplicationUser != null)
	{
    <div class="d-flex">
    <div></div>
        <div>
        @Model.ApplicationUser.Name<br />
        @if(Model.ApplicationUser.IsForHire == true)
        {
            <span>Available For Hire</span>
        }
        </div>
    </div>
    }

 <div class="w-50 mx-auto">
        <img src="@imageUrl" class="img-fluid" alt="@Model.Description" />
</div>
}
<div class="text-secondary">
<div>
            @Model.Description
</div>
<br />
<div>
<i class="fa-regular fa-calendar-days"></i> @Model.CreatedAt.ToString("MMM d, yyyy")
</div>
<div>
<i class="fa-solid fa-location-dot"></i> @Model.Location
</div>
 
        <div>
<i class="fa-solid fa-camera"></i> @Model.Camera
</div>
<br />
<div>
 
        @if (Model.Tags != null && Model.Tags.Any())
        {
<div>
                @foreach (var tag in Model.Tags)
                {
<span class="pe-2 badge text-bg-secondary">
                        @tag.Name
<a asp-controller="Tags" asp-action="Details" asp-route-id="@tag.TagId"></a>
</span>
                }
</div>
        }
 
        </div>
 
   
</div>