@model IEnumerable<PhotoShare.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        <th>
            Photograph
        </th>


            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.ImageFilename) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.IsVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="/photos/@item.ImageFilename" alt="@item.Description" class="thumbnail" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camera)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.ImageFilename) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
              @item.CreatedAt.ToString("MMM d, yyyy")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhotoId" class="text-secondary"><i class="fa-regular fa-pen-to-square"></i></a> |
                @* <a asp-action="Details" asp-route-id="@item.PhotoId">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.PhotoId" class="text-secondary"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
